<html class="h-full bg-white" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/output.css" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <script src="/js/nav.js" defer></script>
    </head>

    <body class="h-full bg-slate-300">
        <main>
            <header>
                <nav>
                    <button id="home" href="/">Home</button>
                    <button id="dashboard" href="/dashboard">Dashboard</button>
                    {{#if loggedIn}}
                        <button id="logout">Logout</button>
                    {{else}}
                        <button id="login" href="/login">Login</button>
                    {{/if}}
                </nav>
                <h1>The Tech Blog</h1>
            </header>
            {{{body}}}
        </main>

        {{#if loggedIn}}
            <script src="/js/logout.js"></script>
        {{/if}}
        <script src="/flowbite.min.js"></script>
    </body>

</html>